@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Custom status colors */
@theme {
  --color-success: oklch(0.63 0.17 149);
  --color-failure: oklch(0.58 0.22 27);
  --color-pending: oklch(0.8 0.16 86);
  --color-started: oklch(0.71 0.14 255);
}
